body,form,input,textarea,select,option,ul,ol,li,dt,dd,p,pre,h1,h2,h3,h4,h5,h6 {
margin: 0;
padding: 0;
list-style: none;
}
img {
border: none;
}
a {
text-decoration: none;
}
body{
font-size:0.28rem;
background-color: #666;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}