body,form,input,textarea,select,option,ul,ol,li,dt,dd,p,pre,h1,h2,h3,h4,h5,h6 {
margin: 0;
padding: 0;
list-style: none;
}
img {
border: none;
}
a {
text-decoration: none;
color:blue;
}
body{
 font-size:0.3rem; 
 background-image: url(../assets/logo.png);
 background-repeat:no-repeat;
 background-position: 5px 10px;
 background-size:30px; 
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}